.kaleidoscope-box{
    background-color:#221F1F ;
    padding: 100px 250px;

}

.kaleidoscope-title{
    color: #d82533;
    font-size: 5rem;
    /* line-height: 1.04444em; */
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
    
}

