.cases-box{

    background-color: #FAFAFA;
    width: 100%;
    height: 50%;
}

.customer-cases-box-info{
    display: flex;
    justify-content: center;
}

.MuiGrid-root {
    width:100%;
}

.img_back{

    width: 100%;
    opacity: 0.3;

}

.cases-div{

    margin-top: 10%;
    margin-left: 50px ;
  margin-bottom: 100px;
    opacity: 1;
    /* position: absolute; */
    font-weight: bolder;
    
}
.cases-first-row{
    margin-bottom: 7%;
}

.customer-cases-title{
    /* margin-left:50px;
    padding-top: 20px; */
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
    /* color: #d82533; */
    font-size: 3rem;
    line-height: 1.04444em;
/* margin-left: 35%; */

width: 100%;
text-align: center;
}