/* .cases-box-layouts {
  display: flex;
  margin: 50px;
} */
/* .cases-box-layouts:hover {
  background-color:#FAFAFA;
  box-shadow: 5px 10px 0 20px #FAFAFA, 5px -10px 0 20px #FAFAFA,
    5px 10px 10px 25px rgba(0, 0, 0, 0.1),
    5px -10px 10px 25px rgba(0, 0, 0, 0.1);
    display: block;
    height: 100%;
    transition-duration: .35s;
    transition-property: background-color,box-shadow;
    transition-timing-function: ease-in-out;
    width: 100%;
} */
.cases-box {
  display: flex;
}
.case-box-info {
}
.customer-cases-box-info {
}
.customer-cases-box-container {
  text-align: left;
}
.cases-logo {
  font-size: 30px;
}
.main-title {
  font-weight: bold;
  font-size: 20px;
  /* font-family: "SFUITextRegular"; */
}

#data {
  /* width: 100px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* font-family: "SFUITextRegular"; */
  width: auto;
  transition: 0.2s;
}

#data:hover {
  /* overflow: visible;  */
  white-space: normal;
  width: auto;
  position: absolute;
/* text-align: justify; */

 
  background-color: rgb(241, 240, 240);
  
  /* font-family: "SFUITextRegular"; */
 
  border-radius: 10px;
  /* -webkit-box-shadow: 2px 5px 28px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 5px 28px 7px rgba(0,0,0,0.75);
  box-shadow: 2px 5px 28px 7px rgba(0,0,0,0.75); */
  box-shadow: 9px 6px 19px -6px rgba(0, 0, 0, 0.75);
  transition: 1s;
 
  transform: scale(1.1);
  -webkit-transform-origin:80% 100%; 
  transform-origin: 80% 100%;
  
  cursor: pointer;
  z-index: 1;
}
#data:hover + div {
  /* margin-top: 20px; */
}
