

    .solutions-title1{
        color: #0e568e;
    
    
        font-size: 34px;
    
        
    
        letter-spacing: -.4px;
        line-height: 59px;
        font-weight: bolder;
    }
  
    .solutions-text1{
        padding-left:10%;
        padding-right: 50%;
        padding-top: 10%;
        width: 100%;
          position: absolute;
        z-index: 200;
        /* word-wrap: break-word; */
        color: white;
        text-align: justify;
        }
        .solutions-text-title1{
          color: #d82533;
          font-size: 1.5rem;
          
          font-family: 'Raleway', sans-serif !important;
          font-weight: bold;
        }


        .solutions-title-subtitle{
          color: #d82533;
          font-style: italic;
          font-weight: bold;
        }