
.solutions-section-text{
margin: 70px 120px;
/* border:2px solid blue; */

}
.solutions-title{
    color: #0e568e;


    font-size: 34px;

    

    letter-spacing: -.4px;
    line-height: 59px;
    font-weight: bolder;
}
.solutions-des{

   
    font-size: 17px;
    /* height: 100%; */
    letter-spacing: -.35px;
  
}
.solutions-text{
    padding-left: 70%;
    padding-right: 7px;
    padding-top: 10%;
    width: 100%;
      position: absolute;
    z-index: 200;
    /* word-wrap: break-word; */
    color: white;
    text-align: justify;
    }
    .solutions-text-title{
      color: #d82533;
      font-size: 1.5rem;
      
      font-family: 'Raleway', sans-serif !important;
      font-weight: bold;
    }