.footer-slogan{
    color: #d82533;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* .footer-sub-slogan{
color: white;
text-align: center;
font-family: 'Raleway', sans-serif !important;
}
.footer-number{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif !important;
} */
.footer-email{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif !important;
    padding-bottom: 100px;
} 
.footer-slogan-bottom{
    color: white;
text-align: center;
font-family: 'Raleway', sans-serif !important;

}