


.magento-buttons1{
    /* border:2px solid red; */
    padding-top: 10%;
    display: flex;
    margin-left: 15%;
}


/* ... */

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */
nav ul{
    display: flex;

}
nav ul  li{
    cursor: pointer;
    --c: black;
  
    color: var(--c);
    font-size: 13px;
    border: 1px solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    /* font-weight: bold; */
    /* font-family: sans-serif; */
    /* letter-spacing: 0.1em; */
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    
}

nav ul li:hover {
    color: white;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

